@import "../semantic/site/globals/site.variables";

#logo {
  float: left;
  font-size: 200%;
  font-family: "Faster One", cursive;
  /* border: 1px solid pink; */
  padding-left: 0.5em;
}
.logoColor {
  color: @strongHighlight;
}
.logoLighter {
  color: @weakHighlight;
}
#zachSVG {
  width: 1.5em;
  /* float: right; */
  position: relative;
  left: -0.8em;
  top: 0.1em;
  z-index: -1;
}
